@import "tailwindcss";

@theme {
    --color-primary: #2a2a2a;
    --color-secondary: #3c3c3c;
    --color-tertiary: #4f4f4f;
    --color-quaternary: #616161;
    --color-quinary: #737373;

    --font-family: "Quicksand", sans-serif;
}



