@import "tailwindcss";

@theme {
  --color-gray: #737372;
  --color-gray-second: #a6a6a6;
  --color-tertiary: #404040;
  --color-black: #0d0d0d;
  --color-white: #f2f2f2;
  --color-orange: #ff8800;

  --font-family: "Quicksand", sans-serif;
}
